# Printing Project

Below is a series of tasks to complete to help you understand how printing works

# Task 1
This task is fairly simple. All you need to do is print your name and your age.

In [ ]:
print("Hi my name is Harper, I am 15")

# Task 2
print your name and age using 2 print function arguments.
<p><em>Remember, print statement arguments are separated by commas.</em></p>

```python 
#expected output#
" 'your_name' 'your_age' "
```

In [6]:
print ("My name is Harper,", "I am 15")

My name is Harper, I am 15

# Task 3
print your name and age using 2 print function arguments, separated by a colon.

```python 
#expected output#
" 'your_name':'your_age' "
```

In [21]:
print("Hi I am Harper", " I am 15", sep = ":")

Hi I am Harper: I am 15

# Task 4
print your favorite food and dessert separated by a colon.

```python 
#expected output#
"my favorite food is 'your_food':'your_dessert' "
```

In [29]:
print ("My favorite food is pizza", " My favorite dessert is brownies", sep = ":")

My favorite food is pizza: My favorite dessert is brownies

# Task 5
Produce the following using separators.

```python
"Wow I cant belive I am a: 'your_grade' in high school"
```

In [55]:
your_grade = "B+"
print(f"Wow I cant belive I have a ", " in high school", sep = your_grade)

Wow I cant belive I have a B+ in high school

# Task 6
Edit the code in order to print everything in a single line

In [60]:
# code goes here
print("Bruh, how can I get this on one line ðŸ¤¦ðŸ¾â€â™€ï¸", end =", ")
var = " Ohhh... thats how"
print(var)

Bruh, how can I get this on one line ðŸ¤¦ðŸ¾â€â™€ï¸,  Ohhh... thats how

# Task 7
Edit the code to print the values using an f-string

In [62]:
# Code goes here
animal = 'Monkey'
show = "curious George"
print(f"How old is that {animal} from {show}?")

How old is that Monkey from curious George?

# Task 8
Use an f-string to print the name of your school, what grade you're in and your favorite thing for lunch

```python 
#expected output#
"My name is 'your_name' and I am in 'your_grade'. My favorite thing for lunch is 'fav_lunch'."
```

In [ ]:
# Code goes here
your_name = "Harper"
grade = "10"
fav_lunch = "pizza"
print(f"My name is {your_name} and I am in {grade}. My favorite thing for lunch is {fav_lunch}")

# TASK 9
Use the escape character `\n` to print the following string.

> If I had a million dollars

> I'd spend it on `'What ever you would spend it on goes here'`

In [74]:
print("If I had a million dollars \nI'd spend it on a nissian r34 skyline.")

If I had a million dollars
I'd spend it on a nissian r34 skyline.

# TASK 10
Use the escape character `\n` to print the following.

>do