<style>
    h1{
        /* color: #A900FF; */
        font-family: "fira code";
    }
</style> 
<h1>Variables</h1>
Variables are like named containers that store data in memory and can be changed throughout the program.

In [15]:
#TODO: create a variable with the value of 25 and print it
var = 25
var

25

<p style = "font-size: 20px"> In a computer, Memory is like a giant container that can store values and/or objects. Think of memory as being like lockers in a hallway. Each locker is assigned a number, and inside each locker there are objects like backpacks, or books, maybe even people. I won't judge yall for what u keep in there. The only information that I would need to access the contents of any given locker, is the value that it is assigned. </p>

<p style = "font-size: 20px"> Memory or RAM, works the same way. Each "cell" in memory is associated with a unique number, which is called a memory address. When a computer wants to read/write data to memory, all it needs to know is the address of the cell that it's storing the data in. </p>

**In Python, we can view a object or values memory address by using the `id()` method**

In [4]:
#TODO: print the memory address of the literal value 25 and 'var'
hex(id(var))

'0x56221e1f2d00'

All Memory addresses are unique, but if two variabes reference the same value in memory, then they will share memory addresses.

<p style = "font-size: 15px"> This is like two people sharing a locker. </p>

In [9]:
var = 10
var2 = var
message = "hello"

print(id(10), "this is the memory address")
print(id(var), "memory address of the value 10")
print(id(var2), "memory address of var 2")
print (id(message), "memory address of message")

94704534235936 this is the memory address
94704534235936 memory address of the value 10
94704534235936 memory address of var 2
140009073258800 memory address of message

<img src = "memory.png" width = 700 height = 400>

------------------------------
# Variable assignment and Manipulation

<p style = "font-size: 15px"> You assign a value to a variable by using the equals sign. </p>

<p style = "font-size: 15px"> Python is a type-inffered language so you dont need to explicitly define the variable type. If you change the value of the variable later in the program, it can be of a different type, however, this can cause errors if you're not careful. </p>

In [14]:
# assigning a value to a variable then change the value

#TODO: Assign an int to var
bob = 100
print(bob)
#TODO: Assign a new int value to var
bob = 3070
print(bob)

100
3070

In [18]:
# assigning a value to a variable then changing its type
#TODO: assign an int to var
alex = 600
print(alex)
#TODO: assign a string to var
alex = "string"
print(alex)

600
string

**you can also assign multiple values to multiple variables at the same time**

In [22]:
#TODO: create the variables x y and z and assign different values to them simultaneously.
x, y, z= 12, 15 ,-98
print (x, z, y)

12 -98 15

----------------------
# Variables Key Ideas
* variables are containers that hold data
* the data that variables can hold may change throughout the program
* you can create multiple variables at the same time

Now that we know what variables are, lets talk about the type of data they can hold.

-----------
# Data Types
A data type is a description of what type of data you're working with.

All values in python have a data type and the type of data allows for different types of operations.


# Numbers
In python numbers come in 3 flavors 

* **Integers**, which are any positive or negative whole number.
* **Floats**, which are any positive or negative number with a fractional part
* **Complex numbers**, which are specified as real_part + imaginary_part, where the imaginary_part is written with a j or J.

In [ ]:
Integer = 4
Integer = 30
Integer = -64
Integer = 23555431588754

Float = 4.0
Float = 35.87
Float = -842.555734
Float = 3.141592653589793

Complex = 1j
Complex = 43 + 2j
Complex = -3 + 10j

# The `type()` funtion
This method is useful for inspecting the type of an object. A type is simply a description of the category of data being worked with.

**Check the data type of an object by putting the object/variable indide of the `type` functions arguments**

In [23]:
# use the type function to inspect a variables type

var = 4555854 # what is the type?
print(type(var))

var = 45.2544558 # what is the type?
#TODO: Print the variables type
print(type(var))
var = 4j + 56 # what is the type?
#TODO: Print the variables type
print(type(var))

<class 'int'>
<class 'float'>
<class 'complex'>

# Strings
Strings are used to represent text, or more technically, a sequence of Unicode characters. Strings are denoted using either single ('') or double ("") qutoes.

In [28]:
#TODO: creating strings
strvar = "I am a double quoted string"
strvar2 = "I am a single quoted string"
print(type(strvar))
print(type(strvar2))

<class 'str'>
<class 'str'>

# Strings and Indexing
Because strings are a sequence of characters, you can select parts of a string by using an index.

<em style = "color: #6F69AC">An index is a numerical representation of an item's position in a sequence.</em>

In most programming languages, python included, index values start at 0. Since they start at zero, the last index value will be equal to the length of the sequence minus 1. 

<img src ="strings.png" width = "700" height = "400">

<em><b>You will learn more about indexing in the lists module</b></em>

In [30]:
word = "Python"
#TODO: Print the first character in the string
word[0]

'n'

In [ ]:
word = "Python"
#TODO: print the last character in the string
word[5]

## The len() function
The len() function is used to find the length of a sequence. It returns the total number of items present in a sequence, making it a useful tool when working with sequences.

In [31]:
word = 'Washburn'
#TODO: print the length of the string
len(word)

8

In [34]:
# using the len function to return the last value in a sequence 
seq = "I am a sequence 😊"

# remember, sequences start at index 0, so the last index is -> (the length of the sequence - 1)
index = len(seq) - 1

print(len(seq))
print(index)
print(seq[index])

17
16
😊

## Strings are Immutable
When a data type is immutable, that means that you can't change its values once it has been created. 

For example, if we create the string 'hello' and try to change the first character to a j so we can change it to 'jello', python will throw us an error.

In [38]:
var = "hello"
var = var + " hello world"
var

'hello hello world'

## String concatenation
**Concatenations means: The action of linking things together.**

In python, we can concatenate strings by using the addition operator (+).

In [39]:
#TODO: Concatenate two strings and print the result
"hello" + " harper"

'hello harper'

In [40]:
var1 = "I am"
var2 = " the goat"
var3 = var1 + var2
var3

'I am the goat'

In [41]:
var = "I am a string variable"
message = var + " I am a literal string"
print(message)

I am a string variable I am a literal string

# Lists
A list is a sequence of items separated by commas.
<hr>

### Creating Lists
A list is created by putting elements within square brackets [] separated by commas.
```python
var = [1,2,3,4]
```

**You can also add elements of different types to a list, including other lists**
```python
var = [1, 2, 'list with string', 4.32, [5,4,3,2]]
```

Lists, like strings, are sequences meaning their elements are accessed using an index. 

**Remember:**<em> An index is a numerical representation of an item's position in a sequence. The index of the first item in a sequence always starts at 0</em>

In [44]:
# creation of a list 
var = [10, 20, 30, 40, 50]

print (var[0])
print (var[2])
print (var[4])

10
30
50

## Lists are Mutable
You can change the values of elements in a list by indicating the index of the value you want to change, and assigning the new value to that index.

In [66]:
# changing list elements
var = [1, 2, 3, 4, 5]
print(f"List before editing: {var}")


var[2] = 30
print(f"List after editing: {var}")

List before editing: [1, 2, 3, 4, 5]
List after editing: [1, 2, 30, 4, 5]

## Adding new elements to a list
The list object has a method called `append()`. This method instructs python to add new values to the end of a list.

In [67]:
print (var)
var.append(100)
print (var)
var.append([70, 23424, 234])
print(var)

[1, 2, 30, 4, 5]
[1, 2, 30, 4, 5, 100]
[1, 2, 30, 4, 5, 100, [70, 23424, 234]]

# Mutable vs. Immutable data types 
* **Mutable** - Has the ability to change, or mutate.
* **Immutable** - Does not have the ability to change, or mutate.

Data types that are mutable **are allowed** to have their values changed throughout the program. 
-----

> <p style = "color:#D36582"><b>Imagine Mutable data types as going to a class where you don't have assigned seats. Since there was no seat assignment from the start, you are allowed to change your seat anytime during the year.</b></p>

<br><br>

Data types that are immutable **aren't allowed** to have their values changed throughout the program.
----
> <p style = "color:#D36582"><b>Imagine Immutable data types as going to a class where you do have assigned seats. Since there was a specific seating arrangement from the start, that seating arrangement stays the same throughout the year.</b></p>

### **Lets look at an immutable data type to get a better understanding of this**

-----------------
# Tuples 
A tuple is like a list, in that it is a sequence of elements. However, once a tuple is created, it never changes. 

Tuples are created by putting elements inside of parenthesis ().

**<em>All of these concepts will be explored further in the data structures and methods section</em>**

In [68]:
# TODO: create a 4 element tuple and print the variable
var = (1, 2, 3 ,4)
print(var)
print(type(var))

(1, 2, 3, 4)
<class 'tuple'>

In [75]:
# TODO: Create a tuple with a string, float, list and integer
var = (1, 2, [52, 7], True, False)
print(var)  
print(type(var))

(1, 2, [52, 7], True, False)
<class 'tuple'>

In [82]:
True or False

True

In [ ]:
var = (1, 2, 3, 4)
# TODO: try to change the first element in the tuple