# Variable Exercises

## Task 1
<b>Create a numeric variable and print out its memory address</b>

***You print memory addresses using the id() function***

In [1]:
var = 12
print(id(var))

94101772487520

## Task 2
<b>Create a variable of type string and print out its value, then reassign a value of type float to the same variable and printout its value</b>

In [2]:
var2 = "joe"
print (var2)
var2 = 12
print (var2)

joe
12

## Task 3
<b>Assign values of different types to each of the following variables and print out their types</b>

In [3]:
# Code goes here
var1, var2, var3 = 12, "hi", 4j
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'str'>
<class 'complex'>

------------------
# String Exercises

## Task 1
<b>Create a string and print the first character</b>

In [4]:
string = "this is a string"
print (string[0])

t

## Task 2
<b>In your own words, describe what is meant by an index</b>

In [5]:
# Response goes here
# 
# An index is ... a item used to assign numbers to each part of a value

## Task 3
<b>Create a string and print out the last character (without using the len() function)</b>

In [10]:
# Code goes here
string = "programming is hard"
print (string[-1])

d

## Task 4
<b>Create a string and print out the last character using the len() function</b>

In [12]:
# Code goes here
string = "this is more code"
var92 = len(string) - 1
print (string[var92])

e

## Task 5
<b> Print the first, middle, and last character of the string, as well as its length</b>

In [14]:
# Code goes here
var = "Directing"
var72 = len(var) - 1
print (var72)
print (var[0])
print (var[4])
print (var[-1])

8
D
c
g

## Task 6
<b> Create two string variables and concatenate (combine) them to create a new variable called message, then print the message.</b>

In [16]:
# Code goes here
var1, var2 = "Hi my name is", " Harper"
print (var1+var2)

Hi my name is Harper

-------------------
# Lists and Tuple Exercises

## Task 1
<b> Create a 5 element list and print out its length</b>

In [21]:
var62 = [1,2,2,6, 9578346537949]
print(len(var62))

5

## Task 2
<b> create a 5 element list of integers then print the list. Next, change the first and last elements then print the list</b>

In [24]:
moab = [1,2,3,4,5]
print (moab)
moab[0] = 3
moab[4] = 3
print (moab)

[1, 2, 3, 4, 5]
[3, 2, 3, 4, 3]

## Task 3
<b> create a 3 element list where each element is a diffrent type, then print out the type of each element</b>

In [25]:
gotte = [12,5j,"Hi"]
print (gotte[2])
print (gotte[0])
print (gotte[1])

Hi
12
5j

## Task 4
<b> Create a 5 element tuple of floats, then print out the middle value</b>

In [27]:
bruh = [1.1,1.2,1.9,22.8,7.000001]
print(bruh[2])

1.9

## Task 5
<b>The following code produces an error. Change the data type so that the error gets fixed</b>

In [36]:
# Solution goes here
var = ['This', "is", "a", "tuple"]
var[3] = 'list'
print(var)

['This', 'is', 'a', 'list']

## TASK 6
**Create a list of numbers then append the values 10, 15, and 20 to the list**

In [33]:
bruh2 = [1,2,3]
print (bruh2)
bruh2.append (10)
print (bruh2)
bruh2.append (15)
print (bruh2)
bruh2.append (20)
print (bruh2)

[1, 2, 3]
[1, 2, 3, 10]
[1, 2, 3, 10, 15]
[1, 2, 3, 10, 15, 20]